body {
    background-color: #111315;
    color: white;
    font-family: Inter, sans-serif;
    line-height: 1.6;
    margin: 0;
}

h1 {
    color: #E5E7EB;
    font-size: 36px;
}

p {
    color: #E5E7EB;
    font-size: 1.25rem;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 60px 40px;
    box-sizing: border-box;
}

button {
    background-color: #e63946;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
#backHome {
    display: block;
    margin-top: 20px;}

    nav {
    position: sticky;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #111315;
    padding: 20px 40px 30px;

    display: flex;
    flex-direction: column;
}

    .logo {
    width: 100%;
    text-align: center;
    color: #E5E7EB;
    text-decoration: none;
    font-weight: 700;
    font-size: 11vw;
    }

.nav-links {
    display: flex;
    gap: 25px;
    justify-content: center;
    width: 100%;
    transform: translateX(270px);
}


.nav-links a {
    color: #E5E7EB;
    text-decoration: none;
}

