body {
    background-color: #111315;
    color: white;
    font-family: Inter, sans-serif;

    max-width: 900px;
    margin: 0;

    line-height: 1.6;
}

h1 {
    color: #E5E7EB;
    font-size: 60px;
    margin-bottom: 10px;
}

h2 {
    color: #E5E7EB;
    font-size: 36px;
}

p {
    color: #E5E7EB;
    font-size: 1.1rem;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 60px 40px;
}